@use 'mixin' as m;
@use 'basic';


#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;

    .header-inner {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 12px;

        .logo {
            width: 30%;
            padding: 12px 20px;

            a {
                display: block;

                img {
                    width: 200px;
                }
            }
        }
    }

    @include m.pc {

        .header-inner {
            background-color: #fff;
            position: fixed;
            z-index: 9999;
            padding-bottom: 0;
        }

        #top-menu {
            display: none;
        }
    }

    /* ナビメニュー */
    #top-menu {
        width: 100%;
        background-color: #007f41;
        border-top: 1px solid #007f41;
        border-bottom: 1px solid #007f41;

        ul {
            display: flex;
            justify-content: center;

            li {
                width: 140px;

                a {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    line-height: 1.3;
                    margin-block: 15px;
                    color: #fff;

                    &:hover {
                        color: #333;
                    }
                }

                &:hover {
                    background-color: #fff;
                }
            }
        }

        .en {
            font-size: 16px;
            font-weight: bold;
        }

        .ja {
            font-size: 10px;
        }

        /* ドロップダウンメニューのスタイル */
        .dropdown {
            position: relative;

            .dropdown-content {
                position: absolute;
                top: 100%;
                left: -18px;
                z-index: 30;
                visibility: hidden;
                opacity: 0;
                transform: translateY(-15px);
                transition: opacity 0.5s ease, transform 0.5s ease;
                display: flex;
                flex-direction: column;

                li {
                    width: 180px;
                    background-color: #fff;
                    border: 1px solid #007f41;

                    a {
                        margin-block: 8px;
                        color: #333;

                        .ja-school {
                            font-size: 16px;
                            font-weight: bold;
                            padding-bottom: 2px;
                        }

                        .en-school {
                            font-size: 12px;
                        }
                    }
                }
            }

            &:hover {
                a {
                    color: #333;
                }

                .dropdown-content {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0);
                    transition: opacity 0.5s ease, transform 0.5s ease;

                    li:hover {
                        background-color: #007f41;

                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

/* 問合せ */
.contact {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;

    .contact-btn {
        border: 1px solid;
        border-radius: 10px;
        text-align: center;
        padding: 8px 32px 8px 24px;
        margin-right: 16px;

        i {
            padding-inline: 8px;
        }

        a {
            font-size: 20px;
            font-weight: bold;
            color: #fff;
        }
    }

    .file {
        background-color: #9b042c;
        border: 1px solid #9b042c;

        &:hover {
            background-color: #fff;

            a {
                color: #9b042c;
            }
        }
    }

    .tel {
        position: relative;
        background-color: #007f41;
        border: 1px solid #007f41;

        &:hover {
            background-color: #fff;

            a {
                color: #007f41;
            }
        }
    }
}

.open-hours {
    position: absolute;
    top: 66px;
    right: 60px;
    font-size: 10px;
}

/* レスポンシブ時メニュー */
#menu-container {
    visibility: hidden;
    opacity: 0;

    #green-menu {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 85px;
        padding: 0px 8%;
        background-color: #007f41;
        font-weight: 700;
        z-index: 5000;
        color: #fff;

        .curriculum {
            .not-link {
                display: flex;
                flex-direction: column;
                text-align: center;
                color: #fff;
                padding-block: 32px 24px;

                .en {
                    font-size: 24px;
                }

                .ja {
                    font-weight: normal;
                    font-size: 14px;
                }
            }

            .course-items {
                flex-direction: column;
                padding-top: 0;

                .course-item {
                    width: 100%;
                    border-radius: 10px;
                    margin-bottom: 8px;

                    &:hover {
                        transform: none;
                        transition: none;
                    }

                    a {
                        display: flex;
                        border-radius: 10px;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.3);
                            transition: background-color 0.3s ease;
                        }
                    }

                    img {
                        width: 25%;
                        height: 100px;
                        border-radius: 10px;
                        margin: 8px;
                    }

                    .course-texts {
                        width: 75%;
                        height: 100px;
                        text-align: center;
                        border-radius: 10px;
                        background-color: #fff;
                        margin: 8px;
                        padding-top: 8px;

                        .course-title {
                            font-size: 18px;
                        }

                        .course-sub-title {
                            font-size: 12px;
                            font-weight: normal;
                            line-height: 16px;
                        }
                    }
                }
            }

            .pink {
                background-color: #DF5EAD;
            }

            .blue {
                background-color: #4D9DDF;
            }

            .yellow {
                background-color: #F4D244;
            }
        }

        .green-menu-nav {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 16px;

            li {
                width: 48%;
                margin-bottom: 16px;

                a {
                    display: block;
                    line-height: 30px;
                    color: #fff;
                    border-bottom: 1px solid #fff;

                    .en {
                        font-size: 24px;
                        padding-left: 8px;
                    }

                    .ja {
                        font-size: 12px;
                        font-weight: normal;
                        letter-spacing: 0.2px;
                    }
                }
            }
        }
    }
}

@include m.pc {
    #menu-container {
        #green-menu {
            .curriculum {
                .not-link {
                    padding-block: 32px 24px;

                    .en {
                        font-size: 24px;
                    }

                    .ja {
                        font-weight: normal;
                        font-size: 12px;
                    }
                }

                .course-items {
                    .course-item {

                        img {
                            height: 120px;
                        }

                        .course-texts {
                            height: 120px;
                            padding-top: 35px;

                            .course-title {
                                font-size: 24px;
                            }

                            .course-sub-title {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }

            .green-menu-nav {
                li {
                    a {
                        .en {
                            font-size: 24px;
                        }

                        .ja {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@include m.tab {
    #menu-container {
        #green-menu {
            .curriculum {

                .course-items {
                    .course-item {
                        img {
                            height: 100px;
                        }

                        .course-texts {
                            height: 100px;
                            padding-top: 30px;

                            .course-title {
                                font-size: 18px;
                            }

                            .course-sub-title {
                                font-size: 12px;
                                line-height: 10px;
                            }

                            .course-text {
                                font-size: 12px;
                                padding-top: 20px;
                            }
                        }
                    }
                }
            }

            .green-menu-nav {
                li {
                    a {
                        .en {
                            font-size: 18px;
                        }

                        .ja {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

@include m.sp {
    #menu-container {
        #green-menu {
            .curriculum {
                .not-link {
                    padding-block: 16px 16px;

                    .en {
                        font-size: 14px;
                    }

                    .ja {
                        font-size: 8px;
                    }
                }

                .course-items {
                    .course-item {

                        img {
                            height: 50px;
                        }

                        .course-texts {
                            height: 50px;
                            padding-top: 10px;

                            .course-title {
                                font-size: 14px;
                            }

                            .course-sub-title {
                                font-size: 8px;
                            }
                        }
                    }
                }
            }

            .green-menu-nav {
                li {
                    a {
                        .en {
                            font-size: 14px;
                        }

                        .ja {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}

/* mainvisual */
#mainvisual {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 140px;

    .image-top {
        grid-column: 2;
        position: relative;
        display: inline-block;

        &::after {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            box-shadow: inset 0 0 30px 30px #fff;
        }

        img {
            height: 650px;
            object-fit: cover;
            border-radius: 25px;
            position: relative;
        }
    }

    .top-text {
        position: absolute;
        top: 320px;
        left: 5%;
        z-index: 10;

        .message {
            position: relative;
            font-size: 40px;
            font-weight: bold;
            text-shadow: 0 4px 6px #fff;
            display: table;

            &::after {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                height: 5px;
                width: 100%;
                background-color: rgba(155, 4, 44, 0.5);
            }
        }

        .name {
            font-size: 18px;
            margin-top: 4px;
        }
    }
}

/* えんじ色のカリキュラムボタン */
.dropdown-btn {
    margin-top: 16px;

    .btn-maroon {
        position: relative;
        display: block;
        width: 350px;
        text-align: center;
        background-color: #9b042c;
        border-radius: 30px;
        outline: 2px solid #9b042c;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.08em;
        color: #fff;
        padding: 16px 0 16px 22px;

        &::after {
            content: "";
            position: absolute;
            top: 45%;
            left: 6%;
            width: 12px;
            height: 12px;
            border-top: 3px solid #fff;
            border-right: 3px solid #fff;
            transform: translateY(-40%) rotate(135deg);
            margin-left: 10px;
        }

        &:hover {
            background-color: #fff;
            color: #9b042c;

            &::after {
                border-top: 3px solid #9b042c;
                border-right: 3px solid #9b042c;
            }
        }
    }

    .dropdown-area {
        display: flex;
        z-index: 30;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.5s ease, transform 0.5s ease;

        li {
            width: 180px;
            background-color: #fff;
            border: 1px solid #9b042c;

            a {
                display: flex;
                flex-direction: column;
                text-align: center;
                line-height: 1.3;
                margin-block: 8px;
                color: #333;

                .ja-school {
                    font-weight: bold;
                    font-size: 16px;
                    padding-bottom: 2px;
                }

                .en-school {
                    font-size: 12px;
                }
            }

            &:hover {
                background-color: #9b042c;

                a {
                    color: #fff;
                }
            }
        }
    }

    &:hover {
        .dropdown-area {
            visibility: visible;
            opacity: 1;
            transform: translateY(5px);
            transition: opacity 0.5s ease, transform 0.5s ease;
        }
    }
}

@include m.pc {
    #mainvisual {
        display: block;
        margin-top: 90px;
        margin-bottom: 160px;

        .image-top {
            width: 100%;
        }

        .top-text {
            top: auto;
        }
    }
}

@include m.tab {
    #mainvisual {
        margin-bottom: 120px;

        .image-top {

            img {
                height: auto;
            }
        }

        .top-text {
            .message {
                font-size: 32px;
            }

            .name {
                font-size: 16px;
            }
        }
    }

    .dropdown-btn {
        .btn-maroon {
            width: 300px;
            font-size: 14px;
        }

        .dropdown-area {
            li {
                width: 140px;

                a {
                    margin-block: 8px;


                    .ja-school {
                        font-size: 12px;
                        padding-bottom: 2px;
                    }

                    .en-school {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}

@include m.sp {
    #mainvisual {
        margin-bottom: 80px;

        .top-text {
            .message {
                font-size: 24px;
            }

            .name {
                font-size: 14px;
            }
        }
    }

    .dropdown-btn {
        .btn-maroon {
            width: 260px;
            font-size: 12px;
        }

        .dropdown-area {
            li {
                width: 100px;

                a {
                    .ja-school {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

/* popup */
.popup {
    /*  display: none; */
    position: absolute;
    top: 180px;
    right: 40px;
    z-index: 30;
    text-align: left;
    background-color: #9b042c;
    border: 2px solid #9b042c;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    animation: pulse 2s infinite;
    cursor: pointer;

    /* display: contents;
        color: #fff; */

    .blog-text {
        font-size: 16px;
        color: #fff;
    }

    .new-text {
        font-size: 14px;
        color: #fff;
    }
}

/* .close-popup {
    position: absolute;
    top: 185px;
    right: 70px;
    z-index: 30;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #9b042c;
    font-weight: 900;
    padding: 5px 10px;
    cursor: pointer;
    animation: pulse 2s infinite;
} */

@include m.pc {
    .popup {
        top: 100px;
    }
}

@include m.tab {
    .popup {
        padding: 16px;

        .blog-text {
            font-size: 12px;
        }

        .new-text {
            font-size: 10px;
        }
    }
}

@include m.sp {
    .popup {
        right: 16px;
        padding: 6px 12px 8px 12px;

        .new-text {
            font-size: 8px;
        }

        .blog-text {
            font-size: 8px;
        }
    }
}

/* curriculum */
#curriculum {
    .curriculum-text {
        .sp {
            display: none;
        }

        p {
            font-size: 16px;
            margin-block: 16px;
        }
    }
}

#course {
    .course-items {
        display: flex;
        justify-content: space-around;
        max-width: 1200px;
        text-align: center;
        padding-top: 24px;
        padding-inline: 4%;
        margin-inline: auto;

        .course-item {
            width: 30%;
            border-radius: 25px;
            overflow: hidden;

            a {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: inherit;
                padding: 16px 8px;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.3);
                    transition: background-color 0.3s ease;
                }
            }

            img {
                width: 85%;
                border-radius: 25px;
            }

            .course-texts {
                position: relative;
                width: 85%;
                background-color: #fff;
                border-radius: 25px;
                padding: 16px 8px;
                margin-inline: auto;
                margin-top: 16px;

                .course-title {
                    font-size: 18px;
                }

                .course-sub-title {
                    font-size: 12px;
                }

                .course-text {
                    text-align: left;
                    font-size: 12px;
                    padding: 8px 16px;
                }
            }
        }

        .pink {
            background-color: #DF5EAD;
        }

        .blue {
            background-color: #4D9DDF;
        }

        .yellow {
            background-color: #F4D244;
        }
    }
}

@include m.pc {
    #curriculum {
        .curriculum-text {
            p {
                text-align: left;
            }
        }
    }

    #course {
        .course-items {
            flex-direction: column;
            background-color: #007f41;
            border-radius: 25px;
            padding-block: 48px 32px;

            .course-item {
                width: 100%;
                margin-bottom: 24px;

                a {
                    display: flex;
                    padding: 16px;

                    img {
                        width: 30%;
                        margin: 0;
                    }

                    .course-texts {
                        width: 65%;
                        margin-block: 0;

                        .course-text {
                            font-size: 14px;
                            padding-inline: 32px;
                        }
                    }
                }
            }
        }
    }
}

@include m.mini-tab {
    #curriculum {
        .curriculum-text {

            .pc {
                display: none;
            }

            .sp {
                display: inline-block;
            }
        }
    }
}

@include m.sp {
    #curriculum {
        .curriculum-text {
            p {
                font-size: 14px;
            }

            .sp {
                font-size: 16px;
            }
        }
    }

    #course {
        .course-items {
            .course-item {
                a {
                    .course-texts {
                        .course-text {
                            font-size: 10px;
                            padding-inline: 4px;
                        }
                    }
                }
            }
        }
    }
}

/* くの字ボタン */
.course-btn {
    position: absolute;
    bottom: 24px;
    right: 16px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: solid 1px #DF5EAD;
    border-radius: 50%;
    transform: rotate(135deg);

    &::before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 55%;
        left: 55%;
        transform: translate(-50%, -50%) rotate(-90deg);
        border-top: 3px solid #DF5EAD;
        border-right: 3px solid #DF5EAD;
    }

    &:hover {
        background-color: #DF5EAD;

        &::before {
            border-top: 3px solid #fff;
            border-right: 3px solid #fff;
        }
    }
}

@include m.sp {
    .course-btn {
        right: 16px;
        width: 30px;
        height: 30px;
    }
}

.blue-btn {
    border: solid 1px #4D9DDF;

    &::before {
        border-top: 3px solid #4D9DDF;
        border-right: 3px solid #4D9DDF;
    }

    &:hover {
        background-color: #4D9DDF;
    }
}

.yellow-btn {
    border: solid 1px #F4D244;

    &::before {
        border-top: 3px solid #F4D244;
        border-right: 3px solid #F4D244;
    }

    &:hover {
        background-color: #F4D244;
    }
}


/* concept */
#concept {
    .concept-text {
        h3 {
            font-size: 20px;
            margin-bottom: 8px;
        }

        .sp {
            display: none;
        }
    }

    .concept-items {
        display: flex;
        justify-content: center;
        margin-block: 24px 32px;

        .concept-item {
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #007f41;
            border-radius: 50%;
            margin-inline: 8px;

            p {
                font-size: 16px;
                font-weight: bold;
                color: #fff;
            }
        }
    }
}

@include m.mini-tab {
    #concept {
        .concept-text {
            h3 {
                font-size: 20px;
            }

            .pc {
                display: none;
            }

            .sp {
                display: inline-block;
            }
        }
    }
}

@include m.sp {
    #concept {
        .concept-text {
            h3 {
                font-size: 18px;
            }

            .sp {
                font-size: 16px;
            }
        }

        .concept-items {

            .concept-item {
                width: 80px;
                height: 80px;

                p {
                    font-size: 14px;
                }
            }
        }
    }
}

/* brand */
#brand {
    background-color: rgba(0, 127, 65, 0.5);
    border-radius: 25px;
    margin-top: 68px;

    .brand-contents {
        display: flex;
        flex-direction: column;

        .brand-item {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px auto;

            &:nth-child(1) {
                margin-top: 80px;
            }

            &:nth-child(2) {
                margin-bottom: 80px;
            }

            img {
                width: 50%;
                height: 280px;
                object-fit: cover;
                border-radius: 25px;
            }

            .brand-text {
                position: relative;
                width: 50%;
                height: 150px;

                p {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #fff;
                    border-radius: 25px;
                    padding: 16px 32px;
                    font-size: 16px;
                }
            }

            .left {
                margin-left: -40px;
            }

            .right {
                margin-right: -40px;
            }
        }

        .second {
            flex-direction: row-reverse;
        }
    }
}

@include m.pc {
    #brand {
        .brand-contents {
            .brand-item {
                width: 80%;
                flex-direction: column;

                img {
                    width: 100%;
                    margin-bottom: 32px;
                }

                .brand-text {
                    width: 100%;
                }

                .left {
                    margin-left: 0;
                }

                .right {
                    margin-right: 0;
                }
            }
        }
    }
}

@include m.mini-tab {
    #brand {
        .brand-contents {
            .brand-item {

                .brand-text {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@include m.sp {
    #brand {
        .brand-contents {
            .brand-item {
                img {
                    margin-bottom: 48px;
                }
            }
        }
    }
}

@include m.small-screen {
    #brand {
        .brand-contents {
            .brand-item {
                img {
                    margin-bottom: 72px;
                }
            }
        }
    }
}

/* blog */
#blog {
    margin-bottom: 80px;

    .blog-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        li {
            width: 100%;
            display: flex;
            align-items: center;
            text-align: left;
            font-size: 14px;
            border-bottom: 1px solid rgba(0, 127, 65, 0.5);
            margin-bottom: 32px;
        }

        .table {
            width: 35%;
            padding-left: 8px;
        }

        .category {
            border: 1px solid #007f41;
            border-radius: 50px;
            font-size: 14px;
            color: #007f41;
            padding: 4px 8px;
            margin-left: 8px;
        }

        .article-title {
            width: 65%;
            font-size: 16px;
            font-weight: bold;
            padding-right: 8px;

            &:hover {
                color: rgba(51, 51, 51, 0.5);
            }
        }

        .table,
        .article-title {
            padding-bottom: 8px;
        }
    }
}

@include m.tab {
    #blog {
        .blog-list {
            li {
                flex-direction: column;
                border-bottom: none;

                .table {
                    width: 100%;
                }

                .category {
                    padding: 4px 8px;
                }

                .article-title {
                    width: 100%;
                    font-size: 16px;
                    border-bottom: 1px solid rgba(0, 127, 65, 0.5);
                    padding-left: 8px;
                }

                .table,
                .article-title {
                    padding-bottom: 8px;
                }
            }
        }
    }
}

/* slide */
#slider {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;

    img {
        width: auto;
        max-width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
        padding-inline: 8px;
        margin: 0 auto;
        border-radius: 25px;
        margin-block: 16px;
    }
}

/* movie */
#movie {
    margin-top: 52px;

    .video-container {
        width: 100%;

        iframe {
            width: 100%;
            object-fit: cover;
            margin-top: 20px;
        }
    }

    .video-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
        margin-top: 16px;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: 8px solid #007f41;
    }
}

/* access */
#access {
    width: 100%;

    .access-contents {
        display: flex;
        align-items: center;
        padding-block: 20px 40px;

        .info {
            width: 40%;
            text-align: left;
            font-size: 16px;

            li {
                margin-bottom: 8px;
                padding-left: 4%;

                .line-text {
                    position: relative;
                    display: table;

                    &::after {
                        position: absolute;
                        content: "";
                        bottom: -2px;
                        left: 0;
                        height: 5px;
                        width: 100%;
                        background-color: rgba(0, 127, 65, 0.5);
                    }
                }
            }
        }

        .map {
            width: 60%;

            iframe {
                width: 100%;
            }
        }
    }
}

@include m.pc {
    #access {
        .access-contents {
            align-items: flex-start;
            padding-block: 20px 40px;
            flex-direction: column-reverse;

            .info {
                width: 100%;
            }

            .map {
                width: 100%;
                margin-bottom: 32px;
            }
        }
    }
}

/* footer */
#footer {
    position: relative;
    width: 100%;
    margin-top: 80px;

    .end {
        text-align: center;
        font-size: 8px;
        background-color: #007f41;
        color: #fff;
        padding-block: 16px;
    }

    #to-top {
        position: fixed;
        width: 50px;
        height: 50px;
        right: 30px;
        bottom: 120px;
        background-color: #007f41;
        border: solid 1px #007f41;
        border-radius: 50%;
        transform: rotate(0deg);

        &::before {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            border-top: 3px solid #fff;
            border-right: 3px solid #fff;
        }

        &:hover {
            background-color: #fff;

            &::before {
                border-top: 3px solid #007f41;
                border-right: 3px solid #007f41;
            }
        }
    }

    .bottom-area {
        visibility: hidden;
        opacity: 0;
    }
}

@include m.tab {
    #footer {
        #to-top {
            width: 40px;
            height: 40px;
            right: 22px;
        }
    }
}

@include m.sp {
    #footer {
        #to-top {
            width: 35px;
            height: 35px;
            right: 22px;
        }
    }
}

@include m.small-screen {}



/* レスポンシブ時のcontactボタン */
.bottom-area {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #fafafa;
    z-index: 9999;

    .fixed-contact {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        .fixed-btn {
            /* height: 80px; */
            text-align: center;
            line-height: 60px;
            border-radius: 5px;
            padding-inline: 4px;
            margin: 8px 4px 14px 4px;

            i {
                padding-right: 8px;
            }

            a {
                font-size: 20px;
                font-weight: bold;
                color: #fff;
            }
        }

        .file {
            background-color: #9b042c;
            border: 1px solid #9b042c;
            line-height: 74px;

            a {
                padding-inline: 24px;
            }

            &:hover {
                background-color: #fff;

                a {
                    color: #9b042c;
                }
            }
        }

        .tel {
            position: relative;
            background-color: #007f41;
            border: 1px solid #007f41;
            padding-inline: 8px;

            a {
                padding-inline: 36px;
            }

            &:hover {
                background-color: #fff;

                a {
                    color: #007f41;
                }
            }

            .open-hours1 a {
                letter-spacing: 1px;
                padding-right: 8px;
            }

            .open-hours1 {
                position: absolute;
                top: 49px;
                left: 50px;
            }

            .open-hours2 {
                position: absolute;
                top: 60px;
                left: 44px;
            }

            .open-hours1,
            .open-hours2 {
                font-size: 10px;
                line-height: 0;
                color: #fff;
            }

            &:hover {

                .open-hours1,
                .open-hours2 {
                    color: #333;
                }
            }
        }
    }
}

@include m.pc {
    #footer {
        .bottom-area {
            visibility: visible;
            opacity: 1;
        }
    }
}

@include m.mini-tab {
    #footer {
        .bottom-area {
            .fixed-contact {
                .fixed-btn {
                    i {
                        padding-right: 4px;
                    }

                    a {
                        font-size: 14px;
                    }
                }

                .file {
                    a {
                        padding-inline: 14px;
                    }
                }

                .tel {
                    a {
                        padding-inline: 14px;
                    }

                    .open-hours1,
                    .open-hours2 {
                        font-size: 8px;
                    }

                    .open-hours1 {
                        left: 20px;
                    }

                    .open-hours2 {
                        left: 14px;
                    }
                }
            }
        }
    }
}

@include m.sp {
    #footer {
        .bottom-area {
            .fixed-contact {
                .fixed-btn {
                    i {
                        padding-right: 4px;
                    }

                    a {
                        font-size: 12px;
                    }
                }

                .file {
                    a {
                        padding-inline: 12px;
                    }
                }

                .tel {
                    a {
                        padding-inline: 12px;
                    }

                    .open-hours1,
                    .open-hours2 {
                        font-size: 7px;
                    }

                    .open-hours1 {
                        left: 16px;
                    }

                    .open-hours2 {
                        left: 10px;
                    }
                }
            }
        }
    }
}

@include m.pc {

    .contact {
        .contact-btn {
            display: none;
        }
    }

    .open-hours {
        display: none;
    }

    .bottom-area {
        opacity: 1;
    }
}